@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   overflow: hidden;
   background: #2193b0;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    background-color: #fff;
    max-width: 480px;
    width: 100%;
    border-radius: 15px;
    padding: 40px 30px;
    transform: scale(1.2);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.25);
    opacity: 0;
}
.container.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.container .content,
.content .warn-icon,
.warn-icon span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .warn-icon {
    width: 115px;
    height: 115px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;

}
.warn-icon span{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: inherit;
}
.warn-icon span i{
    font-size: 60px;
    font-weight: 700;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h2{
    font-size: 32px;
    margin-top: 35px;
}
.content p{
    text-align: center;
    font-size: 18px;
    margin-top: -10px;
}
.content button{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    outline: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





























