@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    background: #063541;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #063541);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #063541); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.user-form{
    width: 100%;
    max-width: 700px;

}
.user-form input{
    width: 100%;
    display: block;
    background-color: #2193b0;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgb(108, 110, 185, 0.05), 0 15px 40px rgba(0,0,0,0.1);

}
.user-form input::placeholder{
    color: #bbb;
}
.user-form input:focus{
    outline: none;
}
.card{
    max-width: 800px;
    background-color: #2193b0;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(108, 110, 185, 0.05), 0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}
.avatar{
    border-radius: 50%;
    border: 10px solid #2193b0;
    width: 150px;
    height: 150px;

}

.user-info{
    color: #eee;
    margin-left: 3rem;
    padding-left: 1rem;
    border-left: 1px solid #6ad0e7;

}
.user-info h2{
    margin-top: 0;
}

.repo{
    text-decoration: none;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 0.7rem;
    padding: 0.25rem 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: 1px solid white;
}
.bio-desc{
    color: #ccc;
    width:200px;
}
.bio-desc  ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
   
}
.bio-desc  ul li{
    display: flex;
    align-items: center;
}
.bio-desc ul li small{
    font-size: 0.9rem;
    margin-right: 0.5rem;
}
h3{
    color: #ccc;
    margin-top: 20px;
    font-size: 14px;
}
i{
    padding-right: 10px;

}
.username{
    padding-left: 40px;
   /*border-bottom: 1px solid #6ad0e7;*/
}
@media(max-width:500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}









